.fade {
  display: none;
  /* or... visibility: hidden;
  btn.classList.add("hide-me")
  */
}
.cards-row {
  margin-top: 20px;
}

.card-container {
  margin-top: 20px;
}

.for-list {
  min-width: 12rem;
  margin-top: 20px;
  padding-left: 10px !important;
  float: left;
}
