body {
  margin-left: 4%;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
.forecast {
  /* margin-top: 20px; */
  /* margin-left: 100px; */
  margin: 5% auto;
  display: flex;
  direction: row;
  justify-content: space-between;
}

.card-container {
  margin-top: 20px;
}

.for-list {
  min-width: 12rem;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 10px !important;
  /* float: left; */
}
